.header
{
    
    display: grid;
    grid-column: 1 / 11;
    grid-row: header;


    @media (min-width: 992px)
    {
        background: url(../images/header-background.jpg) center center no-repeat;
        background-size: cover;
    }

}