.header
{
    display: grid;
    grid-column: 1 / 13;

    @media (min-width: 1200px)
    {
    }


    @media (min-width: 992px)
    {
        background: url(../images/header-background.jpg) center center no-repeat;
        background-size: cover;
    }

}